canvas{
  width: 100% !important;
  height: auto !important;
}

html {
  overflow-y: scroll;
  height: 100%;
}

body {
  height: 100%;
  background: #F2F0ED;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

h1, h2 {
}

/* Default styles */
.navbar-hoppipolla,
.navbar-hoppipolla-collapse {
  background: rgba(255, 255, 255, 0.85);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
}

.hoppipolla-side-nav > li > a > .ion,
.hoppipolla-side-nav > li > a > .fa {
  font-size: 1.1em;
  width: 25px;
}

.brand {
  font-size: 140px;
  color: #F96145;
  text-align: center;
  width: 100%;
}

.global-actions {
  margin-top: 26px;
}

.breadcrumb {
  font-size: 0.9em;
}

.alert {
  border: 0 none;
  font-size: 0.9em;
}

#wrapper {
  height: 100%;
  margin: 0px auto;
  position: relative;
}

.container-center {
  display: table;
  height: 100%;
}

.row-center {
  display: table-cell;
  vertical-align: middle;
}

#content {
  opacity: 0;
}

hr {
  border-top: 1px solid #E2E2E2;
}

.hoppipolla-top-nav .ion {
  color: #999999;
  font-size: 20px;
}

.fa-hover a {
  color: #333;
  text-decoration: none;
}

/* Bootstrap Overrules */
.modal {
  top: 100px;
}
.modal-backdrop {
  background: transparent;
  display: none;
}

/* Panels */
.panel-hoppipolla {
  border: 0 none;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  position: relative;
}

.panel-hoppipolla > .panel-heading {
  border: 0;
}

.panel-hoppipolla > .panel-heading h3 {
  font-size: 14px;
  padding: 5px 0;
}

.panel-hoppipolla > .panel-footer {
  font-size: 12px;
  text-align: center;
  position: relative;
}

.panel-hoppipolla > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #dddddd;
}

.panel-hoppipolla > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #dddddd;
}

/* Panel themes */
.panel-hoppipolla.theme-1 > .panel-heading {
  background: #103451;
  color: #FFFFFF;
}

.panel-hoppipolla.theme-2 > .panel-heading {
  background: #1F6B9B;
  color: #FFFFFF; 
}

.panel-hoppipolla.theme-3 > .panel-heading {
  background: #3D94DB;
  color: #FFFFFF;
}

.panel-actions {
  position: absolute;
  display: block;
  top: 3px;
  right: 3px;
  height: 38px;
  text-align: center;
  font-size: 20px;
  padding: 5px 10px;
  opacity: 0;
  color: #ffffff;
}

.panel-actions:hover,
.panel-actions:active,
.panel-actions:focus {
  color: #E8E8E8;
}

.panel:hover .panel-actions {
  opacity: 1;
}

/* Sign in & Sign up elements */
#sign-in {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  z-index: 9999;
}

#sign-in:before {
  background: url('../img/1cIDrHs.jpg') no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  content: " ";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#sign-in:after {
  content: " ";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(26, 55, 77, 0.85);
  z-index: -1;
}

.sign-up {
  text-align: center;
}

.sign-up a {
  color: #000;
}

.sign-up a:hover,
.sign-up a:focus {
  color: #2a6496;
  text-decoration: underline;
}

.sign-in a,
.sign-in a:hover,
.sign-in a:focus,
.sign-up a,
.sign-up a:hover,
.sign-up a:focus {
  color: #ffffff;
  text-align: center;
  display: block;
  width: 100%;
}

.close-forgot-password {
  color: gray;
  font-size: 22px;
  line-height: 0.8;
  position: absolute;
  right: 14px;
  top: 7px;
}

.forgot-password {
  color: #000;
}

#forgotPassword form {
  margin: 10px 0;
}

p.or {
  margin-top: 10px;
  position: relative;
  text-align: center;
  z-index: 1;
  font-weight: 600;
}

p.or:before {
  border-top: 1px solid #dfdfdf;
  content:"";
  margin: 0 auto;
  position: absolute;
  top: 9px; left: 0; right: 0; bottom: 0;
  width: 95%;
  z-index: -1;
}

p.or span {
  background: #fff; 
  padding: 0 15px; 
}

/* Features */
.features-list {
  vertical-align: middle;
}

.features-list span {
  font-size: 20px;
}

.features-list .ion {
  font-size: 40px;
  width: 40px;
}

.features-list li {
  line-height: 2em;
  vertical-align: middle;
}

.remember-me,
.terms-and-conditions {
  font-size: 12px;
}

/* Content */
h1.section-title {
  font-size: 18px;
  margin-top: 26px;
}
h2.section-title {
  font-size: 15px;
  text-transform: uppercase;
  margin-top: 12px;
}

/* Navbar */
.navbar-hoppipolla .navbar-collapse {
  padding-right: 15px;
  padding-left: 0;
}

.navbar {
  border: 0px none;
  border-radius: 0;
}

.navbar-fixed-top {
  border: 0px none;
}

.container-hoppipolla {
  position: relative;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 80px;
}

.avatar {
  margin-right: 5px;
}
.avatar img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border-radius: 50%;
  margin-bottom: -7px;
  margin-top: -7px;
}

@media (min-width:768px) {

  #wrapper {
    padding-left: 280px;
  }

  .container-hoppipolla {
    padding-left: 40px;
    padding-right: 40px;
  }

  .navbar-hoppipolla {
    left: 280px;
  }

  /* Milano Top Nav */
  .navbar-hoppipolla .hoppipolla-top-nav > li > a {
    padding-bottom: 25px;
    padding-top: 25px;
  }

  .hoppipolla-search .navbar-form {
    margin: 18px -15px;
  }

  .hoppipolla-search .btn,
  .hoppipolla-search .btn:hover,
  .hoppipolla-search .btn:focus,
  .hoppipolla-search .btn:active {
    background: transparent;
    box-shadow: none;
    color: #CCCCCC;
    font-size: 20px;
    padding: 0px 12px;
  }

  .hoppipolla-search .input-group {
    width: 300px;
  }

  .hoppipolla-search .input-group .form-control {
    background: transparent;
    width: 300px;
    font-size: 15px;
  }

  .hoppipolla-search .input-group .form-control,
  .hoppipolla-search .input-group .form-control:hover,
  .hoppipolla-search .input-group .form-control:focus {
    border: 0 none;
    box-shadow: none;
  }

  /* Milano Side Nav */
  .hoppipolla-side-nav {
    margin-left: -280px;
    left: 280px;
    width: 280px;
    position: fixed;
    height: 100%;
    border-radius: 0;
    border: none;
    overflow-y: auto;
    background: url('../img/sidebar.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .navbar-hoppipolla .navbar-brand {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
    text-transform: lowercase;
    z-index: 99;
  }

  .navbar-hoppipolla .navbar-brand:hover,
  .navbar-hoppipolla .navbar-brand:focus {
    color: #60ACEA;
  }

  .hoppipolla-side-nav > li {
    z-index: 10;
  }

  .navbar-hoppipolla .hoppipolla-side-nav > li:first-child > a {
    margin-top: 200px;
  }

  .navbar-hoppipolla .hoppipolla-side-nav > li > a {
    color: #FFFFFF;
    padding-bottom: 9px;
    padding-top: 9px;
    padding-left: 34px;
  }

  .navbar-hoppipolla .hoppipolla-side-nav > li > a .ion,
  .navbar-hoppipolla .hoppipolla-side-nav > li > a .fa {
    color: #91B9BF;
  }

  .navbar-hoppipolla .hoppipolla-side-nav > li > a:hover,
  .navbar-hoppipolla .hoppipolla-side-nav > li > a:focus {
    color: #60ACEA;
    text-decoration: none;
  }

  .navbar-hoppipolla .hoppipolla-side-nav > li.active > a,
  .navbar-hoppipolla .hoppipolla-side-nav > li.active > a:hover,
  .navbar-hoppipolla .hoppipolla-side-nav > li.active > a:focus {
    background: none;
    color: #60ACEA;
    text-decoration: none;
    font-weight: bold;
  }

  /* Dropdowns */
  .hoppipolla-side-nav>li.dropdown>ul.dropdown-menu {
    position: relative;
    min-width: 280px;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
  }

  .hoppipolla-side-nav>li.dropdown>ul.dropdown-menu>li>a {
    color: #ffffff;
    padding-bottom: 9px;
    padding-top: 9px;
    padding-left: 58px;
  }

  .hoppipolla-side-nav>li.dropdown>ul.dropdown-menu>li>a:hover,
  .hoppipolla-side-nav>li.dropdown>ul.dropdown-menu>li>a.active,
  .hoppipolla-side-nav>li.dropdown>ul.dropdown-menu>li>a:focus {
    color: #60ACEA;
    text-decoration: none;
    background-color: transparent;
  }

  .dropdown-menu > .active > a,
  .dropdown-menu > .active > a:hover,
  .dropdown-menu > .active > a:focus {
    background-color: transparent;
  }

  .navbar-hoppipolla .hoppipolla-side-nav > .open > a,
  .navbar-hoppipolla .hoppipolla-side-nav > .open > a:hover,
  .navbar-hoppipolla .hoppipolla-side-nav > .open > a:focus {
    color: #ffffff;
    background-color: transparent;
  }

  .hoppipolla-side-nav>li>a {
    width: 280px;
  }

  .navbar-inverse .navbar-nav>li>a:hover,
  .navbar-inverse .navbar-nav>li>a:focus {
    background-color: #E7E7E7;
  }

  .navbar-collapse {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

}

/* Charts */
.chart {
    display: inline-block;
    text-align: center;
    width: 100%;
}
.chart .heading {
    text-align: left;
}
.chart .heading span {
    display: block;
}

/* ChartJS */
.chartjs {
    max-width: 600px;
}

/* Flot */
.flot-chart {
    height: 300px;
    text-align: center;
}

/* xChart */
.demo-xchart {
    width: 100%;
}

/* Widgets */
.widget {
  min-height: 250px;
}

.widget.bg-light {
  background: #FFFFFF;
}

.widget.bg-dark {
  background: #444C57;
  color: #ffffff;
}

.widget.bg-yellow {
  background: #FFCF00;
  color: #ffffff;
}

.widget.bg-blue {
  background: #1F6B9B;
  color: #ffffff;
}

.widget.bg-darkblue {
  background: #103451;
  color: #ffffff;
}

.widget.bg-lightblue {
  background: #3D94DB;
  color: #ffffff;
}

.widget.bg-custom {
  color: #ffffff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* Chart JS Widget */
.widget .chartjs {
  max-height: 120px;
  max-width: 120px;
}

/* Weather Widget */
.widget-weather {
  border: 0 none;
}

.widget-weather .panel-footer {
  color: #000000;
  background: #ffffff;
}

.widget-weather h3 {
  margin-top: 6px;
  margin-bottom: 10px;
}

/* Twitter Widget */
.widget-twitter .panel-body {
  padding-top: 40px;
}

.widget.bg-twitter {
  background: #4FC1E9;
  color: #ffffff;
}

/* Social Widget */
.widget-social {
  border: 0 none;
  position: relative;
}

.widget-social .panel-body {
  padding-top: 40px;
}

.widget-social .panel-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  color: #000000;
  background: #ffffff;
}

.widget-social h3 {
  margin-top: 6px;
  margin-bottom: 10px;
}

.widget-social .photo {
  margin: 0 auto;
}

.widget-social .icons a i {
  color: #808080;
  margin: 0 5px;
}

.widget-social .icons a:hover i {
  color: #666666;
  margin: 0 5px;
}

.text-uppercase {
  text-transform: uppercase;
}


/* Notifications */
#notification {
    display: none;
    position: fixed;
    cursor: pointer;
    width: 100%;
    background: #F38630;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    border-top: 10px solid #F38630;
    z-index:9999;
    color: #ffffff;
    -moz-box-shadow:0 0em 0.5em rgba(0, 0, 0, 0.3);
    -webkit-box-shadow:0 0em 0.5em rgba(0, 0, 0, 0.3);
    box-shadow:0 0em 0.5em rgba(0, 0, 0, 0.3);
    z-index: 99999;
    left: 0;
    bottom: 0;
    opacity: 0.9;
}

#notification .inner {
    position: relative;
    margin:  0 auto;
    padding-right: 60px;
}

#notification .close {
    position: absolute;
    color: #ffffff;
    top: 2px;
    right: 10px;
    opacity: 1;
    font-size: 13px;
}

#notification a.close:hover {
    text-decoration: underline;
}

.notify-badge {
  position: absolute;
  right: -1px;
  top: 10px;
  z-index: 100;
}

/* Custom visible classes */
.visible-inline-xs,
.visible-inline-sm,
.visible-inline-md,
.visible-inline-lg {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-inline-xs {
    display: inline-block !important;
  }
  table.visible-inline-xs {
    display: table;
  }
  tr.visible-inline-xs {
    display: table-row !important;
  }
  th.visible-inline-xs,
  td.visible-inline-xs {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-inline-sm {
    display: inline-block !important;
  }
  table.visible-inline-sm {
    display: table;
  }
  tr.visible-inline-sm {
    display: table-row !important;
  }
  th.visible-inline-sm,
  td.visible-inline-sm {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-inline-md {
    display: inline-block !important;
  }
  table.visible-inline-md {
    display: table;
  }
  tr.visible-inline-md {
    display: table-row !important;
  }
  th.visible-inline-md,
  td.visible-inline-md {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-inline-lg {
    display: inline-block !important;
  }
  table.visible-inline-lg {
    display: table;
  }
  tr.visible-inline-lg {
    display: table-row !important;
  }
  th.visible-inline-lg,
  td.visible-inline-lg {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}

/* Buttons */
.btn-round {
  border-radius: 16px !important;
}
/* Button themes */
.btn-theme-1 {
  background: #103451;
  color: #FFFFFF;
}
.btn-theme-1:active,
.btn-theme-1:hover,
.btn-theme-1:focus {
  background: #144468;
  color: #FFFFFF;
}

.btn-theme-2 {
  background: #1F6B9B;
  color: #FFFFFF;
}
.btn-theme-2:active,
.btn-theme-2:hover,
.btn-theme-2:focus {
  background: #2379AF;
  color: #FFFFFF;
}

.btn-theme-3 {
  background: #3D94DB;
  color: #FFFFFF;
}
.btn-theme-3:active,
.btn-theme-3:hover,
.btn-theme-3:focus {
  background: #40A2E8;
  color: #FFFFFF;
}

/* Error pages */
.error-page h1 {
  font-size: 160px;
  font-weight: 900;
}
.error-page h2 {
  font-size: 70px;
  font-weight: 900;
}

/* Dropdowns */
.dropdown-hoppipolla {
    padding: 0;
}

.dropdown-hoppipolla .dropdown-menu {
  padding: 0px;
  min-width: 300px;
}

.dropdown-hoppipolla .dropdown-header {
  font-size: 15px;
  background: #F0F0F0;
  width: 100%;
  padding: 10px 20px 2px 20px;
  color: #303030;
}

.dropdown-hoppipolla .small {
  color: gray;
  right: 5px;
  bottom: 5px;
  position: absolute;
}

.dropdown-hoppipolla .label {
  font-size: 85%;
}

.dropdown-hoppipolla img {
  border: 2px solid #103451;
  margin-right: 4px;
  margin-bottom: -6px;
  margin-top: -6px;
}

.dropdown-hoppipolla li a {
    border-bottom: 1px solid #EBEBEB !important;
    font-size: 12px;
    list-style: none;
    position: relative;
}

.dropdown-hoppipolla li a {
    padding: 15px 10px !important;
    width: 100%;
    display: inline-block;
}

.dropdown-hoppipolla li a:hover {
    background-color: #F7F8F9 !important;
    color: #2E2E2E;
}